# Node.js
node_modules/

# Astro
.astro/
dist/

# TypeScript
.tsbuildinfo

# Stylelint
.stylelintcache

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env*
